html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color:#193068;
  background-image: url('../assets/background-gif.gif');
  background-size: cover;
  height: 100vh;
  padding:0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}




h1 {
  font-size: 6rem;
  margin-top: 20px;
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
  background-color: #008087;
  background-clip:initial;
  background: 
  -webkit-linear-gradient(#fad102, #d50b3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 10px; 
  grid-template-areas: 
    "num1 num2 num3"; 
  width:fit-content;
  height:fit-content;
  margin-top: 5%;
}
#num1 { 
  grid-area: num1; 
  background-color:black;
  font-size: 10rem;
  text-align: center;
  border: 10px solid #008087;
}
#num2 {
  grid-area: num2; 
  background-color:black;
  font-size: 10rem;
  text-align: center;
  border: 10px solid #008087;
}
#num3 { 
  grid-area: num3;
  background-color:black;
  font-size: 10rem;
  text-align: center;
  border: 10px solid #008087;
}

#credit {
  background-color:#d50b3a;
  font-size: 4rem;
  width:fit-content;
  text-align: center;
  vertical-align: center;
  text-shadow: #008087;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 15px;
  font-family: 'Bubblegum Sans', cursive;
  background-image: url("../assets/credit-background.png");
  background-position: center;
  height: 90px;
  width: 200px;
}

#lever {
  font-size: large;
  margin-left: 37%;
  margin-right: 2%;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 20px;
  background-color:#717630;
  border: 3px solid #a4812e;
  font-family: 'Bubblegum Sans', cursive;
}

