html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4.6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 10px; 
  grid-template-areas: 
    "num1 num2 num3"; 
  width:fit-content;
  height:fit-content;
  margin-left: auto;
  margin-right: auto;
}
#num1 { 
  grid-area: num1; 
  background-color: aliceblue;
  font-size: 6rem;
  text-align: center;
  border: 10px solid green;
}
#num2 {
  grid-area: num2; 
  background-color: aliceblue;
  font-size: 6rem;
  text-align: center;
  border: 10px solid green;
}
#num3 { 
  grid-area: num3;
  background-color: aliceblue; 
  font-size: 6rem;
  text-align: center;
  border: 10px solid green;
}

#credit {
  background-color: aliceblue; 
  font-size: 3rem;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rebeccapurple;
  display: inline-block;
}

#lever {
  font-size: large;
  margin-left: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

